@font-face {
	font-family: 'brown_sugarregular';
	src: url(../../assets/fonts/brown_sugar_-webfont.woff2) format('woff2'),
	url(../../assets/fonts/brown_sugar_-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}